div {
    border: 1px solid crimson;
    background-color: aqua;
}
h1{
    border:8px solid;
}
#container{
    background-color: rgb(216, 185, 225);
    padding: 25px 25px;
    display: flex;
    justify-content: space-around;
}