div {
    border: 1px solid black;
    background-color: beige;
}
h1{
    border:8px solid;
}
#container{
    background-color: rgb(216, 185, 225);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}
.item-menu{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}